/* 
    Body, button, comment-thread, and utilities

    Notes:
        - This section sets some basic styles. You can ignore this part and 
        go directly to the comment styles.
*/

* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.85);
  background-color: #f9f9f9;
}

.comment-thread {
  width: 100%;
  max-width: 100%;
  margin: auto;
  background-color: #fff;
  border: 1px solid transparent; /* Removes margin collapse */
}
.m-0 {
  margin: 0;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Comment */

.comment {
  position: relative;
  margin: 20px auto;
}
.comment-heading {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 14px;
}

.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.comment-author {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-decoration: none;
}
.comment-author:hover {
  text-decoration: underline;
}

.comment-border-link {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 12px;
  height: calc(100% - 50px);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.comment-body {
  padding-left: 2rem;
  font-style: italic;
}
